@import url(fonts.css);
@import url(colors.css);
@import url(preloader.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Livvic";
}

.pic {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../pics/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed, fixed;
    margin-bottom: 30px;
    filter: blur(0px);
    z-index: -2;
}

header {
    height: 100vh; 
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    z-index: -1;
    .name {
        color: #fff;
        text-shadow: 3px 3px 5px #000;
        font-family: 'PermanentMarker';
        opacity: 0;
        transition: .3s;
    }
    .avatar {
        height: 30vh;
        width: 30vh;
        background: #000;
        transition: .3s;
        border-radius: 50%;
        border: 1px solid #fff;
        box-shadow: inset 0 0 0px #fff;
        background: url('../pics/avatars/7.jpg') center;
        background-size: cover;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12vh;
        width: 88.125%;
        margin-bottom: 15px;
        border-radius: 20px;
        color: #fff;
        background: linear-gradient(to top, #009EC3, #87D0E1);
    }
}

footer {
    margin: 0 auto;
    width: 88.125%;
    text-align: center;
    font-size: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    margin-bottom: 10%;
    a {
        transition: .25s;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.fa-vk {color: #597da3;}
.fa-steam-square {color: #171A21;}
.fa-twitter{color: #55acee;}
.fa-telegram {color: #0088CC;}
.fa-instagram {color: #e4405f;}
.fa-github {color: #333;}
.fa-envelope-o {color: #D44638;}
.fa-envelope {color: #ffdb4d;}
@import url(media.css);